<footer class="info-block">
    <div class="info-each">
        <app-info-item></app-info-item>
    </div>
    <div class="info-each">
        <app-info-item></app-info-item>
    </div>
    <div class="info-each">
        <app-info-item></app-info-item>
    </div>
    <div class="social-network">
        <div class="title">Social Network</div>
        <ul>
            <li class="square"></li>
            <li class="square"></li>
            <li class="square"></li>
        </ul>
    </div>
</footer>