<header>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div id="circle-container">
        <div class="circle"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 login">
      <app-login></app-login>
    </div>
  </div>
  <nav>
    <ul>
      <li routerLinkActive="active"><a routerLink="/home">EXCHANGE</a></li>
      <li routerLinkActive="active"><a routerLink="/currency">CURRENCY</a></li>
      <li routerLinkActive="active"><a routerLink="/more">MORE</a></li>
      <li routerLinkActive="active"><a routerLink="/about">ABOUT</a></li>
    </ul>
  </nav>
</header>